<footer class="[ site-footer ] [ full-width ] [ region ]">
    <div class="site-footer__inner flow">
        <p>&copy; Copyright 2024 {{ .Site.Title }}</p>

        <div class="social-links flex-group">
            {{ range .Site.Data.shared.socials.list }}
            <a href="{{ .url }}">
                <ion-icon size="large" name="logo-{{ .icon }}"></ion-icon>
            </a>
            {{ end }}
        </div>
    </div>
</footer>

{{ $lightboxJS := resources.Get "js/fslightbox.js" | resources.Copy "js/fslightbox.js" }}
<script defer src="{{ $lightboxJS.Permalink }}"></script>

<script>
    document.querySelector('.button').addEventListener('click', function() {
        // Hiermee wordt de lightbox geopend voor de video
        fslightbox.open();
    });
</script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>