<footer class="[ footer ] [] [ region ]">
    <div class="wrapper">
        <small>&copy; copyright 2024 {{ site.name }}</small>
    </div>
</footer>

<!-- Scripts -->
<script type="module" src="/js/main.js"></script>