<meta name="description" content="{{ .Description }}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="{{ if .IsHome }}website{{ else }}article{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">
<meta property="og:title" content="{{ with .Params.meta.title }}{{ . }}{{ else }}{{ .Title }}{{ end }}">
<meta property="og:description" content="{{ with .Params.meta.description }}{{ . }}{{ else }}{{ .Description }}{{ end }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:locale" content="{{ .Site.LanguageCode }}">

<!-- Twitter -->
<meta name="twitter:url" content="{{ .Permalink }}">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ with .Params.meta.title }}{{ . }}{{ else }}{{ .Title }}{{ end }}">
<meta name="twitter:description" content="{{ with .Params.meta.description }}{{ . }}{{ else }}{{ .Description }}{{ end }}">

<!-- Additional SEO Tags (optional) -->
<link rel="canonical" href="{{ .Permalink }}">
<meta name="robots" content="index, follow">
