@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// Grid Auto Fit
// -----------------------------------------------------------------------------

.grid-auto-fit {
    --_grid-placement: var(--grid-placement, auto-fit);
    --_grid-min-col-size: var(--grid-min-col-size, 16rem);
    --_grid-gap: var(--grid-gap, #{$grid-gap});

    display: grid;
    grid-template-columns: repeat(var(--_grid-placement), minmax(var(--_grid-min-col-size), 1fr));
    gap: var(--_grid-gap);
}