@use "../abstracts" as *;

// -----------------------------------------------------------------------------
// ROOT
// -----------------------------------------------------------------------------

:root {
    @each $color, $value in $default {
        --#{$color}: #{$value};
    }

    --light-blue: #fbf6f6;
    --blue-gray: #716f8a;
    --dark-blue: #1e2740;


    // FONTS
    @each $prop, $value in $font-families {
        --ff-#{$prop}: #{$value};
    }

    @each $prop, $value in $font-sizes {
        --fs-#{$prop}: #{$value};
    }

    @each $prop, $value in $font-weights {
        --fw-#{$prop}: #{$value};
    }


    // SIZES

    @each $prop, $value in $spaces {
        --size-#{$prop}: #{$value};
    }


    // WIDTHS

    @each $prop, $value in $wrapper-sizes {
        --width-#{$prop}: #{$value};
    }
}